/* Estilos generales para el logotipo */
header {
  background-color: #333;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li.first-item {
  margin-left: 20px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav a:hover {
  color: #e74c3c;
}

.menu-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-image {
  background-size: cover;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.menu-content {
  padding: 20px;
}

h3 {
  margin: 0;
}

h4 {
  margin-top: 10px;
}

.menu-content p {
  margin: 5px 0;
}

.precio-menu {
  font-weight: bold;
}

/* Estilos para pantallas de escritorio (ancho mínimo de 769px) */
@media (min-width: 1301px) {
  .columns {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* Cambia a 3 columnas en desktop */
      gap: 20px; /* Espacio entre las tarjetas de menú */
      justify-content: center;
  }
  .menu-card {
    margin: 0 auto;
}
}

@media (max-width: 1300px) {
  .columns {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Cambia a 3 columnas en desktop */
      gap: 20px; /* Espacio entre las tarjetas de menú */
      justify-content: center;
  }
  .menu-card {
    margin: 0 auto;
}
}

/* Estilos para pantallas medianas (ancho máximo de 768px) */
@media (max-width: 850px) {
  .columns {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
      gap: 20px; /* Espacio entre las tarjetas de menú */
      justify-content: center;
  }
  .menu-card {
    margin: 0 auto;
}
}

/* Estilos para pantallas pequeñas (ancho máximo de 480px) */
@media (max-width: 480px) {
  .columns {
      display: grid;
      grid-template-columns: repeat(1, 1fr); /* 1 columna en pantallas pequeñas */
      justify-content: center;
  }
  .menu-card {
    margin: 0 auto;
}
}
