<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>CV</title>
</head>
<body>
  <header>
    <nav >
      <ul class="flex-menu">
        <li><a href="#sobremi">Sobre mi</a></li>
        <li><a href="#experiencia">Experiencia</a></li>
        <li><a href="#eduacion">Educacion</a></li>
        <li><a href="#habilidades">Habilidades</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <section>

  </section>
  <section>

  </section>

</body>
</html>
